In [65]:
# 크롤링
import requests
from bs4 import BeautifulSoup

# 데이터 분석
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from IPython.display import clear_output

# 크롤링

## 리더보드 테이블

In [85]:
data = []
maximum = 253 


def find_tag(tag, class1):
    result = tr.find(tag, class_=class1)
    if result != None:
        row.append(result.get_text())
    else: row.append(-1)
    
for page in range(1,maximum):

    url = 'https://overwatch.op.gg/leaderboards?platform=pc&role_id=0&page={}'.format(page)
    resp = requests.get(url)

    soup = BeautifulSoup(resp.text)

    # table tag
    table = soup.find('table', class_='LeaderBoardsTable')

    # tag
    for tr in table.find('tbody').find_all('tr', {'data-uid':True}):
        row = []
        print(tr)
        # data base id
        row.append(tr['data-uid'])
        # #, 플랫폼 
        for span in tr.find_all('span'):
            row.append(span.get_text())
        # 플레이어, K/D, 승률
        for b in tr.find_all('b'):
            row.append(b.get_text())
        # 레벨, 상세 K/D
        for em in tr.find_all('em'):
            row.append(em.get_text().strip())
        # 점수
        find_tag('td', 'ContentCell ContentCell-SkillRating')
        #  폭주 시간
        find_tag('td', 'ContentCell ContentCell-AvgFire')
        # 승
        find_tag('div', 'Win')
        # 패
        find_tag('div', 'Lose')
        # 플레이 시간
        find_tag('td', 'ContentCell ContentCell-PlayTime')
        # 모스트 영웅
        for heros in tr.find_all('td', class_='ContentCell ContentCell-MostHeros'):
            for hero in heros.find_all('img', alt=True): # 모스트 영웅은 img로 되어 있다.
                row.append(hero['alt'])
        
        # 하나의 행을 data에 축적
        data.append(row)
    
    # 진행사항 출력
    print(page, " page complete")
    clear_output(wait=True)
print("Mission complete")
df = pd.DataFrame(data)
df

Mission complete

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,86176089042104101033252,"21,901",PC,진짜얘왜저래,2.63 : 1,48,Lv. 246,18.2\n /\n ...,\n\n 1482\n ...,\n 01:07\n ...,61W,66L,21 hours,Sigma,Ana,Genji
1,9038198178199013175052,"21,902",PC,ishal12,1.95 : 1,48,Lv. 169,17.0\n /\n ...,\n\n 1482\n ...,\n 01:14\n ...,72W,77L,28 hours,Zenyatta,Orisa,Ana
2,169054195087060061009099,"21,903",PC,크러쉬,1.92 : 1,55,Lv. 291,14.8\n /\n ...,\n\n 1481\n ...,\n 00:50\n ...,86W,71L,30 hours,Lúcio,Zarya,Reinhardt
3,117095174076231187078039,"21,904",PC,soccer,2.42 : 1,46,Lv. 384,20.9\n /\n ...,\n\n 1481\n ...,\n 00:44\n ...,78W,93L,33 hours,McCree,Doomfist,Reinhardt
4,196117026121113245181084,"21,905",PC,kongsday,2.29 : 1,60,Lv. 201,14.9\n /\n ...,\n\n 1480\n ...,\n 00:33\n ...,26W,17L,7 hours,Baptiste,McCree,Ana
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1072,27078075244099180087016,"22,973",PC,소리없는검,1.9 : 1,49,Lv. 359,20.2\n /\n ...,\n\n 540\n ...,\n 00:54\n ...,141W,147L,53 hours,Junkrat,Moira,Reinhardt
1073,243116241127093034212249,"22,974",PC,쌍바놔놔,1.88 : 1,37,Lv. 144,14.9\n /\n ...,\n\n 538\n ...,\n 00:35\n ...,18W,31L,8 hours,Widowmaker,McCree,Tracer
1074,238047226154239156241160,"22,975",PC,DoomPeace,2.13 : 1,46,Lv. 70,15.9\n /\n ...,\n\n 535\n ...,\n 00:34\n ...,18W,21L,6 hours,Zenyatta,Moira,Baptiste
1075,130145216197178069097108,"22,976",PC,랜클리어,1.24 : 1,40,Lv. 161,14.2\n /\n ...,\n\n 515\n ...,\n 00:08\n ...,10W,15L,4 hours,Moira,D.Va,Junkrat
1076,238088121051143004100151,"22,977",PC,COOK,1.64 : 1,49,Lv. 333,13.7\n /\n ...,\n\n 504\n ...,\n 00:36\n ...,19W,20L,6 hours,Reinhardt,Junkrat,Roadhog

In [70]:
# header 이름 설정
df.columns = ['DBid', 'Rank', 'Platform', 'Nickname', 'K/D', 'Win_rate', 'Level', 'Kill/Death', 'Rating', 'Time_on_Fire', 
     'Win', 'Lose', 'Playtime', 'Most1', 'Most2', 'Most3']
df.head()

ValueError: Length mismatch: Expected axis has 0 elements, new values have 16 elements

In [ ]:
df.info()

In [ ]:
df

## 상세 테이블

In [ ]:
# 종합 통계에서 필요한 라벨
stats = ['Damage dealt/Game', 'Healed/Game', 'Time Played', 
         'Time Played/Day', 'Time on fire', 'Avg Time on Fire', 'Avg Obj Time', 'Avg Obj Kills', 
         'Cards', 'Avg Medals/Game', 'Gold', 'Silver', 'Bronze']
data = {}
i = 0
for DBid in df['DBid']:
    url = 'https://overwatch.op.gg/detail/overview/{}'.format(DBid)
    resp = requests.get(url)

    soup = BeautifulSoup(resp.text)
    
    
    # 종합 통계
    summary_stats = soup.find('div', class_='PlayerSideSummaryStats')
    # 가끔씩 프로필 비공개로 바꾸는 사람이 있기에 해당 DBid는 넘어가자
    if summary_stats == None:
        continue
    # DBid 추가
    if 'DBid' in data:
        data['DBid'].append(DBid)
    else:
        data['DBid'] = [DBid]
        
    # 종합 통계
    stat_list = summary_stats.find_all('li')[4:17] # 내가 확인해보고 싶은 리스트의 자리가 5번째 ~ 17번째에 있다.
    for stat in stat_list:
        b = stat.find('b').get_text() # lavel
        span = stat.find('span').get_text() # content
        
        if b in data:
            data[b].append(span)
        else:
            data[b] = [span]

    # 진행사항
    i += 1
    print(round(i/df['DBid'].count(),2))
    clear_output(wait=True)
print('Complete')

In [ ]:
detail_df = pd.DataFrame(data)
detail_df
# data
# detail_df.to_csv('detail.csv')

# 전처리

## 리더보드 테이블

### 변수 불필요한 문자열 제거

In [ ]:
# Rank
df['Rank'] = df['Rank'].str.replace(',', '')
df['Rank']

In [ ]:
# K/D 컬럼
df['K/D'] = df['K/D'].str.replace(': 1', '')
df['K/D']

In [ ]:
# Level
df['Level'] = df['Level'].str.replace('Lv.', '')
df['Level']

In [ ]:
# Kill/Death
df['Kill/Death'] = df['Kill/Death'].str.replace('\n', '')

# separate
new = df['Kill/Death'].str.split('/', expand=True)
df['Kill'] = new[0]
df['Death'] = new[1]

df[['Kill/Death', 'Kill', 'Death']]

In [ ]:
# rating
df['Rating'] = df['Rating'].str.replace('\n', '').str.strip()
df['Rating']

In [ ]:
# Time on Fire
df['Time_on_Fire'] = df['Time_on_Fire'].str.replace('\n', '').str.strip()
time = df['Time_on_Fire'].str.split(':')

def to_seconds(x):
    # error
    if len(x) != 2:
        return -1
    
    x = list(map(int, x))
    result = 0
    # 1 min = 60 sec
    if x[0] > 0:
        result = 60 * x[0]
    result += x[1]
    return(result)

df['Time_on_Fire'] = time.apply(to_seconds)

In [ ]:
df['Time_on_Fire']

In [ ]:
# Win
df['Win'] = df['Win'].str.replace('W', '').str.strip()
df['Win']

In [ ]:
# Lose
df['Lose'] = df['Lose'].str.replace('L', '')
df['Lose']

In [ ]:
# PlayTime
df['Playtime'] = df['Playtime'].str.replace('hour[s]*', '')
# 1시간도 하지 않은 관측치 수정
mins_player = df['Playtime'].str.contains('mins')
def mins_to_hours(x):
    print(x, '가 검출되었습니다')
    x = x.replace('mins','').strip()
    x = int(x)/60
    return str(round(x,2))


# 해당 관측치의 Playtime만 수정한다
if len(df.loc[mins_player]) > 0:
    df.loc[mins_player, 'Playtime'] = df.loc[mins_player, 'Playtime'].apply(mins_to_hours)
    
    
df[mins_player]

In [ ]:
df

### 데이터 형변환

In [ ]:
df.info()

In [ ]:
# float
df[['K/D', 'Kill', 'Death', 'Win', 'Lose', 'Playtime']] = df[['K/D', 'Kill', 'Death', 'Win', 'Lose', 'Playtime']].astype(float)
print(df[['K/D', 'Kill', 'Death', 'Win', 'Lose', 'Playtime']].dtypes)

# int
df[['Win_rate', 'Level', 'Rating', 'Rank']] = df[['Win_rate', 'Level', 'Rating', 'Rank']].astype(int)
print(df[['Win_rate', 'Level', 'Rating', 'Rank']].dtypes)

In [ ]:
df.info()

In [ ]:
# 불필요한 변수 삭제
del df['Kill/Death']
del df['Platform']

In [ ]:
# 컬럼 순서 바꾸기
df = pd.DataFrame(df, columns=['Rank', 'Nickname', 'Rating', 'Win', 'Lose', 'Win_rate', 'Kill', 'Death', 
                          'K/D', 'Time_on_Fire', 'Level', 'Playtime', 'Most1', 'Most2', 'Most3'])
df

### 변수 생성

In [ ]:
# 티어 변수 생성
bins = [0, 1500, 2000, 2500, 3000, 3500, 4000, 5000]
labels = ['bronze', 'silver', 'gold', 'platinum', 'diamond', 'master', 'grand_master']
df['Tire'] = pd.cut(df['Rating'], bins, labels=labels)


# 상위 1위 ~ 500위는 순위 자체가 티어가 된다.
df['Tire'] = df['Tire'].astype(str)
df.loc[df['Rank'] <= 500, 'Tire'] = df.loc[df['Rank'] <= 500,'Rank'].astype(str)
df.iloc[490:510, :]

In [ ]:
df.to_csv('rank.csv')

## 상세 테이블

In [ ]:
detail_df